<div class="col-xs-10 col-xs-offset-1 about">
<h1>About Splurty</h1>
<br />
<p>
	Splurty built by Prakash. In an effort to be able to build more powerful apps in the future
</p>
<br />

<div class="col-xs-12 col-sm-4">
	<%= image_tag 'Prakash.jpg', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center">Prakash</h2>
	<br />
	<p>
		Prakash is an Engineer, trying to launch his own app. Enjoy travelling to new cities and movie buff. 
	</p>
</div>
<br class="clear" />
<br />
<br />
<br />
<br />
<br />



</div>