<h4>
<span>SPLURTY / No. <%= @quote.id %></span>
Here's the <u>best unsolicited startup advice</u> you can get!

</h4>
<br />


<h1><%= @quote.saying %></h1>
<h3 class="pull-right">- <%= @quote.author %></h3>

<br class="clear" />
<br />
<br />
<br />